<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 手書きcss, <head>の中に以下のcssを入れる -->
    <link rel="stylesheet" th:href=@{/css/todo_css.css} />
    <meta charset="UTF-8">
</head>

<body>
    <h1>ToDoアプリケーション</h1>
    <img src="/img/todo_people.png" width="640px">
    <form role="form" th:action="@{/ToDo/login}" th:object="${MemberForm}" method="post">
        <table>
            <tr>
                <td><label>メンバーID: </label></td>
                <td><input type="text" required th:field="*{mid}" />
                    <span th:if="${#fields.hasErrors('mid')}" th:errors="*{mid}" style="color: red"></span>
                </td>
            </tr>
            <tr>
                <td><label>名前: </label></td>
                <td><input type="text" required th:field="*{name}" />
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
                </td>
            </tr>
            
        </table>
        <p><input type="submit" class="btn btn-primary" value="ログイン" /></p>
    </form>
</body>
</html>